{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "pages/(.*)$",
    "@mui/(.*)$",
    "@literalai/(.*)$",
    "components/(.*)$",
    "assets/(.*)$",
    "hooks/(.*)$",
    "state/(.*)$",
    "types/(.*)$",
    "^./*.*.css",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
